@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap');
// Variables
@import 'variables';

@tailwind base;

@tailwind components;

@tailwind utilities;


.theme-light {
    --page-background-color: #edf2f7;
    --card-background-color:    #ffffff;
    --header-background-color: #ffffff;

    --default-text-500-color: #a0aec0;
    --default-text-700-color: #4a5568;

    --button--blue-bg-color: #47cdff;
    --button--blue-shadow-color: #b0eaff;
}

.theme-dark {
    --page-background-color: #17171e;
    --card-background-color:    #1f2027;
    --header-background-color: #1f2027;

    --default-text-500-color: #ccc;

    --default-text-700-color: #fff;

    --button--blue-bg-color: #184e5f;
    --button--blue-shadow-color: rgba(47, 53, 53, 0.3);
}

.border-accent {
    border-color: var(--button--blue-bg-color);
}

.text-accent {
    color: var(--button--blue-bg-color);
}

.button {
    @apply  .rounded-lg .text-sm .py-2 .px-5;
    transition: all 175ms ease-out;

    &.button--lg {
        @apply .text-lg .py-3 .px-6;
    }
}

.button--blue {
    @apply .text-white;
    box-shadow: 0 2px 7px 0 var(--button--blue-shadow-color);
    background-color: var(--button--blue-bg-color);

    &:hover {
        @apply .bg-blue-700;
    }

    &.is-outlined {
        @apply .bg-card .border .border-accent .text-accent;

        &:hover {
            @apply .text-white;
            @apply .bg-blue-700;
        }
    }
}

.card {
    @apply .bg-card .p-5 .rounded-lg .shadow;
    color: var(--default-text-700-color);
}

.form-control {
    @apply .w-full .p-3 .mb-8;
    border-bottom: 1px solid #a0aec0;
}

.invalid-feedback {
    display: inline-block;
    @apply .text-red-400 .p-1 .text-center .mb-4;
}

