@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap');
// Variables
@import 'variables';

@tailwind base;

@tailwind components;

@tailwind utilities;

.button {
    @apply  .rounded-lg .text-sm .py-2 .px-5;
    transition: all 175ms ease-out;

    &.button--lg {
        @apply .text-lg .py-3 .px-6;
    }
}

.button--blue {
    @apply .bg-blue-500 .text-white;
    box-shadow: 0 2px 7px 0 #b0eaff;

    &:hover {
        @apply .bg-blue-700;
    }

    &.button--tertiary {
        @apply .bg-white .text-red-300;
        box-shadow: none;
        border: 1px solid #fff;

        &:hover {
            color: theme('colors.red.500');
            border: 1px solid theme('colors.red.500');
        }
        

    }
}

.card {
    @apply .bg-white .p-5 .rounded-lg .shadow
}

.form-control {
    @apply .w-full .p-3 .mb-8;
    border-bottom: 1px solid #a0aec0;
}

.invalid-feedback {
    display: inline-block;
    @apply .text-red-400 .p-1 .text-center .mb-4;
}