.theme-dark {
    --page-background-color: #17171e;
    --card-background-color:    #1f2027;
    --header-background-color: #1f2027;

    --default-text-500-color: #ccc;

    --default-text-700-color: #fff;

    --button--blue-bg-color: #184e5f;
    --button--blue-shadow-color: rgba(47, 53, 53, 0.3);

    --text-error-color: #e44343;
}